[Unit]
Description=A simple TCP daemon server

[Service]
Type=simple
ExecStart=/usr/bin/TCP-daemon-server
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=TCP-daemon-server

[Install]
WantedBy=multi-user.target